.container {
    cursor: pointer;
    position: relative;
    margin-bottom: 15px;
    outline: none;

}

.buttonSvg {
    position: relative;
    display: flex;
    width: 100%;
    outline: none;
}

.buttonSvg svg , p{
    outline: none;
}

.buttonSvg:hover {
    color: #FF8B37
}

.container:nth-child(1n) .buttonSvg {
    justify-content: flex-end;
}

.container:nth-child(2n) .buttonSvg {
    justify-content: flex-start;
}

.container p {
    position: absolute;
    margin: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.container p {
    padding-left: 11%;
}

.container span {
    position: absolute;
    z-index: 3;
    color: #FF8B37;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
@media screen and (max-width: 600px) {
    .container {
        margin-bottom: 8px;
        width: 100%;
    }
}

