.activeQuestion {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.activeQuestion > p {
    margin: 133px 65px auto 96px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
}

@media screen and (max-width: 600px) {
    .activeQuestion > p {
        margin: 100px 16px 97px 16px;
    }
}