.container {
    display: flex;
    justify-content: center;
    max-width: 1248px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.gamePlace {
    background: #F5F5F7;
    width: 1064px;
}

.scorePlace {
    background: #FFFFFF;
    width: 376px;
    border-right: 2px solid #F5F5F7;
}